aside {
  background-color:#623A8F;
  width:fit-content;
  position:fixed;
  left: 0;
  top: 7.7rem;
  height:100%;
  top: 0;
  padding: 10rem 0 0 2rem;
}
aside img {
  width: 15rem;
  position: absolute;
  left: -2rem;
  top: -3rem;
}
aside nav {
  padding: 0 2rem;
}

aside a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-bottom: 1rem;
}

a:hover {
  text-decoration: underline;
}

aside h2 {
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 5px 5px;
  color: white;

}

ul li input {
  width: 27%;
  justify-content: center;
}

ul input {
  width: 73%;
}

.orderButton:focus {
  outline: 2px solid blue;
}

.orderButton {
  border: none;
  border-radius: 50%;
  background-color: #ccc;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  margin-right: 10px;
}

#orden{
  margin-right: 20px;
}
.orderButton:focus {
  outline: none;
}

#orderForm {
  margin: 2rem 0;
}

#orderForm label {
  color: #ffff;
}

#submitButton{
  font-size: 20px;
  margin: 5px 5px 5px 5px;
}