.contact input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6c2c2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact input[type="submit"] {
  background-color: #dfabf5;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #f3c4df;
}

.contact {
  border-radius: 5px;
  background-color: #9d0cf1fb;
  padding: 20px;
}

#links {


}