.contact input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6c2c2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact input[type="submit"] {
  background-color: #dfbfde;
  color: rgb(190, 106, 197);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #d5aad6;
}

.contact {
  border-radius: 5px;
  background-color: #e7bde7;
  padding: 20px;
}
