.contact input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #e6c2c2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact input[type="submit"] {
  background-color: rgba(203, 144, 226, 0.651);
  color: rgb(31, 9, 32);
  padding: 12px 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #bf85c0;
}

.contact {
  border-radius: 5px;
  background-color: #E5BBF6;
  padding: 20px;
}
