footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: #623A8F;
  justify-content: space-around;
}

footer,
footer a {
  color: white;
}

.year {
  padding: 0 0 0.5rem 3.2rem;
}
