header {
  color: #623A8F;
  padding: 1rem 0;
  text-align: left;
  padding-top: 3rem;
}

header img {
  width: 23rem;
  position: absolute;
  left: 50rem;
  top: -4rem;
}

.h form {
  width: 50%;
  position: relative;
  display: flex;
}

.h {
  display: flex;
  align-items: center;
  gap: 5rem;
}

input {
  width: 100%;
  border: 0.3rem solid #623A8F;
  border-right: none;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  color: #9dbfaf;
}

#searchButton {
  width: 4rem;
  height: 3.6rem;
  border: 0.1rem solid #623A8F;
  background: #623A8F;
  text-align: center;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  font-size: 2rem;
}

header nav {
  display: flex;
  justify-content: right;
  background-color: #623A8F;
  padding: 4rem 2rem 2rem 2rem;
  margin-top: -3rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 2rem;
  font-size: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

.rightlink{
  justify-content: left;
}
.leftlink{
  justify-content: end;
}