@import url(header.css);
@import url(aside.css);
@import url(ads.css);
@import url(cards.css);
@import url(contact.css);
@import url(footer.css);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 11rem;
  padding: 2rem;
}
